.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.videoList .videoframe {
  position: relative;
  cursor: pointer;
}

.videoList .videoframe:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.videoList .videoframe .video {
  position: relative;
  padding-top: 56.25%;
  width: 480px;
  overflow: hidden;
}

.videoList .videoframe .videoImage {
    position: absolute;
    top: -45px;
    left: 0;
    width: 100%;
}

.videoList .videoframe svg {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  width: 80px;
  opacity: 0;
  transition: 0.5s;
}

.videoList .videoframe:hover:after {
  background: gray;
  opacity: 0.4;
}

.videoList .videoframe:hover svg  {
  color: #ff0100;
  opacity: 0.9;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
