#menuContainer {
  position: absolute;
  top: 60px;
  bottom: 0;
  right: -500px;
  width: 500px;
  opacity: 0;
  transition: 0.5s;
  z-index: 900;
}

#menuContainer.active {
  right: 0px;
  opacity: 0.8;
}

#menuContainer > ul {
  float: left;
  height: 100%;
}

#menuContainer > ul li {
  padding: 5px 0;
  height: 35px;
  width: 35px;
  background: gray;
  border-bottom: solid 1px #7ef8c6;
  border-radius: 5px 0 0 5px;
  text-align: center;
  font-size: 1.2rem;
  transition: 0.2s;
}

#menuContainer > ul li.active {
  background: white;
}

#menuContainer > ul svg {
  pointer-events: none;
  font-size: 1.5rem;
}

#menuContainer .menus {
  margin-left: 35px;
  padding: 15px;
  height: 100%;
  background: white;
}
