#searchContainer {
}

#searchContainer form {
  position: relative;
  height: 30px;
}

#searchContainer form input[type="text"] {
  padding: 5px;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 0 50px 50px 0;
}
input[type="text"]:focus {
  background: #def4ff;
}


#searchContainer form input[type="submit"] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 5px 10px;
  border-radius: 0 50px 50px 0;
  background: black;
  color: white;
  transition: 0.2s;
}

#searchContainer form input[type="submit"]:hover {
  opacity: 0.7;
}


/* videoframe 共通設定 */
/* ============================================ */
.videoframe {
  width: 200px;
  height: auto;
  user-select: none;
}

.videoframe .video,
.videoframe .videoImage {
  pointer-events: none;
}

.videoframe .video {
  position: relative;
  padding-top: 56.25%;
  cursor: pointer;
  overflow: hidden;
}

.videoframe  .video .videoImage {
  position: absolute;
  top: -17%;
  left: 0;
  width: 100%;
  object-fit: cover;
}