.serchContainer {
  width: 100%;
  background: white;
}

.serchContainer .videoList .videoframe {
  position: relative;
  cursor: pointer;
  width: 200px;
}

.serchContainer .videoList .videoframe:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.serchContainer .videoList .videoframe .video {
  position: relative;
  padding-top: 56.25%;
  overflow: hidden;
}

.serchContainer .videoList .videoframe .videoImage {
    position: absolute;
    top: -17%;
    left: 0;
    width: 100%;
}

.serchContainer .videoList .videoframe svg {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  width: 20%;
  opacity: 0;
  transition: 0.5s;
}

.serchContainer .videoList .videoframe:hover:after {
  background: gray;
  opacity: 0.4;
}

.serchContainer .videoList .videoframe:hover svg  {
  color: #ff0100;
  opacity: 1;
}
